* {
  margin:0;
  padding:0;
}

html, body {
  height: 100%
}

body{
  display: flex;
  align-items: stretch;
  background-color: rgb(15, 22, 20);
  font-family: Arial, Helvetica, sans-serif;
}


a:link {
  color: rgb(27, 172, 27);
}

/* visited link */
a:visited {
  color: rgb(81, 109, 81);
}

.hidden {
  visibility: hidden;
  display: none;
}


.header {
  visibility: hidden;
  display: none;
}


.content {
  z-index: 0;
  position: absolute;
  top: 20px;
  height: calc(100vh - 20px);
  width: 100vw;
  /*max-width: 100%;
  max-height: 100%;*/
  /*min-height: calc(100vmin - 40px);*/
  /* 80px header + 40px footer = 120px  */
  background: rgb(7, 48, 48);
}


.status-area {
  position:fixed;
  
  right: 5px;

  top:2px;
  font-size: 15px;

  z-index: 1;
  color: white;
  
  margin: 0 0 0 0;
  padding: 0;

  display: flex;
  flex-direction: row;
}


.green-dot {
  right:0;
  
  height: 15px;
  width: 15px;
  color: rgb(49, 77, 57);
  background-color: rgb(66, 114, 79);
  border-radius: 50%;
  border-width: 1px;
  border-color:rgb(255, 255, 255);
  display: table-cell;
  vertical-align: middle;

  margin: 0 0 0 5px;
}


/* Tooltip container */
.tooltip {
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltiptext {
  background-color: rgba(6, 65, 45);
  color: #fff;
  text-align: center;
  padding: 15px;
  border-radius: 6px;
  border: 3px dotted gray;
 
  /* Position the tooltip text - see examples below! */
  position: fixed;
  z-index: 2;

  font-size: 20px;
  top: 40px;
  right: 20px;
  
}


/* visited link */
.tooltiptext a {
  color: rgb(166, 216, 166);
}


footer {
  position: fixed; /* Stay in place */
  z-index: 1;
  height: 20px;
  color: rgba(192, 191, 191, 0.897);
  right: 5px;
  bottom: 0px;
  font-size: 15px;
  text-align: right;

  margin: 0 0 0 0;
  padding: 0;

  display: flex;
  flex-direction: row;
}



@media only screen and (min-width: 550px) {
  .header {

    visibility: visible;
    display: inline;

    z-index: 0;
    background: rgb(15, 22, 20);
    height: 40px;
    color: white;
    font-family: 'Roboto';
    font-size: 35px;
    margin: 0 0 0 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    line-height: 40px; /* same as height! */
  }

  footer {
    height: 20px;
    right: 5px;
    bottom: 2px;
    font-size: 18px;
  }

  .content {
    top: 40px;
    height: calc(100vh - 40px);
  }



  .status-area {
    top:12px;
    right: 15px;
    font-size: 18px;
  }


  .green-dot {
    height: 18px;
    width: 18px;
  }


}

.center-modal {
  z-index: 2; /* Sit on top */
  width: 100px;
  height: 100px;
  margin:0 auto;
  display:table;
  position: fixed;
  left: 0;
  right:0;
  top: 15%; 
  -webkit-transform:translateY(-15%);
  -moz-transform:translateY(-15%);
  -ms-transform:translateY(-15%);
  -o-transform:translateY(-15%);
  transform:translateY(-15%);
}




.rainbows {
  text-align: center;
  font-family: 'Roboto';
  font-size: 10vmin;
  color: #fff;
  text-shadow: -4px 4px #ef3550,
               -8px 8px #f48fb1,
               -12px 12px #7e57c2,
               -16px 16px #2196f3,
               -20px 20px #26c6da,
               -24px 24px #43a047,
               -28px 28px #eeff41,
               -32px 32px #f9a825,
               -36px 36px #ff5722;

  animation: rainbowIn 2s ease-in;
}

@keyframes rainbowIn {
  from {opacity: 0; font-size: 5px;
    text-shadow: 0px 0px #ef3550,
                 0px 0px #f48fb1,
                 0px 0px #7e57c2,
                 0px 0px #2196f3,
                 0px 0px #26c6da,
                 0px 0px #43a047,
                 0px 0px #eeff41,
                 0px 0px #f9a825,
                 0px 0px #ff5722;
  } 
  to {opacity: 1; font-size: 10vmin;
    text-shadow: -4px 4px #ef3550,
               -8px 8px #f48fb1,
               -12px 12px #7e57c2,
               -16px 16px #2196f3,
               -20px 20px #26c6da,
               -24px 24px #43a047,
               -28px 28px #eeff41,
               -32px 32px #f9a825,
               -36px 36px #ff5722;
  } 
}

@keyframes rainbowOut {
  to {opacity: 0; font-size: 5px;
    text-shadow: 0px 0px #ef3550,
                 0px 0px #f48fb1,
                 0px 0px #7e57c2,
                 0px 0px #2196f3,
                 0px 0px #26c6da,
                 0px 0px #43a047,
                 0px 0px #eeff41,
                 0px 0px #f9a825,
                 0px 0px #ff5722;
  } 
  from {opacity: 1; font-size: 150px;
    text-shadow: -4px 4px #ef3550,
               -8px 8px #f48fb1,
               -12px 12px #7e57c2,
               -16px 16px #2196f3,
               -20px 20px #26c6da,
               -24px 24px #43a047,
               -28px 28px #eeff41,
               -32px 32px #f9a825,
               -36px 36px #ff5722;
  } 
}




  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
  }
  
  /* Modal Content */
  .modal-content {
    position: fixed;
    bottom: 20px;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    font-size: 24px;
  }

  .setup-submit {
    font-size: 24px;
    padding: 0px 24px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }